.historyTableContainer {
    height: 600px;
    width: 90vw;
    background-color: #172b4d;
    justify-self: center;
    margin-top: 100px;
    border-radius: 25px
}

.transactionTableContainer {
    height: 500px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.transactionTable {
    height: auto;
    width: 90%;
    margin-top: 10px;
}

.transactionTable thead th,
.transactionTable tbody td {
    font-size: 25px;
    color: white;
    border: 2px solid white;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}